body{
	background-color: silver;

}
#wrapper{
	margin: 0 auto 0;
	width: 1018px;
	background-color: white;
}

header{
	width: -600px;
	height: 175px;
	background-color: black;
}

header img{
	background-color: black;
	float: left;
	padding-left: 120px;
	padding-top: 30px;
}

header p{
	background-color: black;
	color: white;
	float: right;
	padding-right: 160px;
	padding-top: 30px;
}

nav{
	width: 960px;
	clear: both;
	background-color: red;
}

header ul{ 
padding: 30px;
background-image: url(nav.jpg);
border-radius: 5px;
margin-right: 100px;
margin-left: 100px;

}

header li {

	padding: 0 45px;
	color: white;
	text-decoration: none;
	font-family: arial, sans-serif;
	display: inline;
}

.photo1{
	padding-top: 30px;
	width: 960px;
	margin: 0 auto;
	padding-top: 30px;
}

.photo1 h1{
	position: absolute;
	padding-left: 550px;
	padding-top: 250px;
	color: white;
	top: 100px;
	font-size: 250%;
	font-weight: normal;
}


#content{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: -3px;
	width: 960px;
	padding-left: 80px;
}

#content p{
	margin-left: 5px;
	color: white;
}

.section1{
	background-color: black;
	width: 300px;
	height: 300px;
	float: left;
	padding-left: 20px;
	margin-left: -50px;
	margin-bottom: 10px;
	line-height: 200%;
}

.section2{
	background-color: black;
	width: 300px;
	height: 300px;
	float: left;
	padding-left: 10px;
	line-height: 200%;
}

.section3{
	background-color: black;
	width: 310px;
	height: 300px;
	float: left;
	padding-left: 10px;
	line-height: 200%;
}

.picLeft{
	float: left;
}

.creativePic{
	float: left;
	padding-top: 20px;
	width: 120px;
	clear: both;
	/*background-color: red;*/
}

#content2{
	/*background-color: red;*/
	width: 560px;
	height: 540px;
	line-height: 200%;
	margin-left: 30px;
}

/*#content2 p{
	padding-left: 5px;
}*/

#content2 h2{
	/*background-color: yellow;*/
	width: 360px;
	margin-left: 20px;
}


#insertbutton{
	width: 50%;
	margin: none;
}

#insertbutton a{
	display: inline-block;
	font-size: 10px;
	padding: 9px 15px;
	background-color: gray;
	color: black;
	text-decoration: none;
	font-family: sans-serif;
	position: relative; 
	left: -29px; 
}

#insertbutton a:hover{
	background: silver;
}


/*#content2 img{
	padding-top: 20px;
	width: 170px;
	clear: both;
	
}*/

aside{
	float: right;
	width: 340px;
	height: 740px;
	margin-top: -150px;
	margin-right: 30px;
	background-color: silver;
}

aside h3{ background-image: url(nav.jpg);
	height: 40px;
	color: white;
	text-align: center;
	padding-top: 30px;
}

aside h4{
	margin-bottom: -10px;
	margin-left: 10px;
}

aside p{
	margin-left: 10px;
	line-height: 200%;
}

aside img{
	margin-left: 10px;
}

.section5{
	/*background-color: blue;*/
	width: 30%;
	height: 300px;
	margin-top: 70px;
	margin-left: 20px;
	line-height: 200%;

}

.section6{
	float: right;
	/*background-color: yellow;*/
	width: 220px;
	height: 600px;
	margin-top: -300px;
	margin-right: 40px;
	padding-left: 50px;
	line-height: 200%;
}

#button a{
	width: 20px;
	height: 15px;
	background-color: gray;
}

footer{
	clear: both;

}

